/******** Background colors ********/

.blue-bg {
    background-color: $theme-color-blue !important;
}

.green-bg {
    background-color: $theme-color-green !important;
}

.yellow-bg {
    background-color: $theme-color-yellow !important;
}

.orange-bg {
    background-color: $theme-color-orange !important;
}

.purple-bg {
    background-color: $theme-color-purple !important;
}

.gray-bg {
    background-color: $theme-color-gray !important;
}
.amber-bg{
    background-color: $theme-color-amber !important;
}
.teal-bg{
    background-color: $theme-color-teal !important;
}
.lime-bg{
    background-color: $theme-color-lime !important;
}
.dark-pink{
    background-color: #C2185B !important;
}

.blue-light-bg {
    background-color: $theme-color-lightblue !important;
}

.green-light-bg {
    background-color: $theme-color-lightgreen !important;
}

.yellow-light-bg {
    background-color: $theme-color-lightyellow !important;
}

.orange-light-bg {
    background-color: $theme-color-lightorange !important;
}

.purple-light-bg {
    background-color: $theme-color-lightpurple !important;
}

.gray-light-bg {
    background-color: $theme-color-lightgray !important;
}
.amber-light-bg{
    background-color: $theme-color-lightamber !important;
}

.teal-light-bg{
    background-color: $theme-color-lightteal !important;
}

.white-bg {
    background-color: #ffffff;
}


/******** Font colors ********/

.fontcolor-orange {
    color: $theme-color-orange;
}

.fontcolor-green {
    color: $theme-color-green;
}


/******** Header colors ********/

.blue-header-bg {
    div {
        ion-header-bar {
            @include header-color($theme-header-color-blue);
        }
    }
}

.green-header-bg {
    div {
        ion-header-bar {
            @include header-color($theme-header-color-green);
        }
    }
}

.orange-header-bg {
    div {
        ion-header-bar {
            @include header-color($theme-header-color-orange);
        }
    }
}

.purple-header-bg {
    div {
        ion-header-bar {
            @include header-color($theme-header-color-purple);
        }
    }
}
.amber-header-bg {
    div {
        ion-header-bar {
            @include header-color($theme-header-color-amber);
        }
    }
}
.teal-header-bg {
    div {
        ion-header-bar {
            @include header-color($theme-header-color-teal);
        }
    }
}

.error{
    color: red;

}
.warning{
    color:yellow;
}
.alert{
    color:orange;
}
.success{
    color:green;
}
