/*
* header css
*
*/

.header-bar-icon {
    font-size: 17px;
}

.bar {
    padding: 0px 16px;
}

.notification-icon {
    color: $theme-color-yellow;
    // line-height: 44px;
    max-height: 42px;
    font-size: x-large;
    line-height: 33px;
    margin-right: 20px;
    @extend .header-bar-icon;
}

.more-icon {
    max-height: 42px;
    line-height: 31px;
    font-size: x-large;
    @extend .header-bar-icon;
}


/**** toolbar *****/

.flex-toolbar-display {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.toolbar {
    @extend .flex-toolbar-display;
    @include flex-direction(column);
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0 $content-wrap;
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        min-height: $toolbar-height;
    }
    h2 {
        line-height: 70px;
        @media (min-device-width: 768px) and (max-device-width: 1024px) {
            line-height: 100px;
        }
        color: $font-color;
        font-weight: 500;
        font-size: large;
        position: absolute;
    }
}

.toolbar-tools {
    @extend .flex-toolbar-display;
    font-size: 20px;
    height: 64px;
    font-weight: 400;
    letter-spacing: .005em;
    max-height: $toolbar-height;
    margin: 0;
    width: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    @include flex-direction(row);
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        height: 72px;
    }
}


/******* breadcrumb *********/

.breadcrumb-wrapper {
    color: #fff;
    display: inline-block;
    line-height: 60px;
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        line-height: 44px;
    }
    width: 47%;
    div {
        float: right;
    }
}

.toolbar-breadcrumb {
    display: inline-block;
    .toolbar-tools {
        width: 51%;
        display: inline-block;
    }
}
