<ion-view title="FeedBack">
    <!-- header toggle button -->
     <ion-nav-buttons side="left">
         <button class="button button-icon button-clear ion-ios-arrow-back ion-android-arrow-back toggle-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <!-- header bar -->
   
    <ion-content>
        <div class="row ">
            <div class="col">
               <!--  <h2 ng-init="disToggle=false" style="font-size: 1.5em;color:#fff;text-align:center;" id="erlenmeyer-icon">Disclaimer</h2> -->
                <div style="font-size: 1em;font-weight:300;color:#444;text-align:justify;"> Not implemented yet
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>