<ion-view title="Create New Poll" cache-view='false'>
   
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-back ion-android-arrow-back toggle-left" ui-sref="tab.mypolls"></button>
    </ion-nav-buttons>  
    <ion-content>
     <!-- header toolbar -->
        <div class="swift-project-header-bar {{breadcrumb_color}} project-table-layout">
            <div class="swift-project-header-title swift-project-table-cell">
            </div>
            <div class="swift-project-table-cell">
                <a ng-click="goToQuestionForm()" class="mfb-component__button--main swift-project-breadcrumb-button {{question_form_btn_color}}"> <!-- ng-class="{{createpoll}} ? '{{breadcrumb_btn_color}}' : 'swift-project-gray-bg'" -->
                    <i class="mfb-component__main-icon--resting swift-project-breadcrumb-button-icon">1</i>
                </a>
                <a ng-click="goToOrganization()" class="mfb-component__button--main swift-project-breadcrumb-button {{org_form_btn_color}}"> 
                 <!-- ng-class="!{{createpoll}} ? '{{breadcrumb_btn_color}}' : 'swift-project-gray-bg'" -->
                    <i class="mfb-component__main-icon--resting swift-project-breadcrumb-button-icon">2</i>
                    <i class="mfb-component__main-icon--active swift-project-breadcrumb-button-icon">2</i>
                </a>
            </div>
        </div>

        <!-- create poll form pages-->
        <div ng-include="newpoll_layout" class="swift-project-fade-animation swift-project-fade-container"></div>
    </ion-content>
    <!-- footer buttons -->
    <ion-footer-bar align-title="left" class="swift-project-footer-btn-list swift-project-table-layout">
        <div ng-include="newpoll_footer_buttons" class="swift-project-table-layout"></div>
    </ion-footer-bar>
</ion-view>
