<ion-view>
    <div class="poll-header toolbar slide-in {{toolbar_color}} header-toolbar-sharedpolls {{slide_class_sharedpolls}}" id="header-toolbar-sharedpolls">
        <div class="toolbar-tools">
            <h2>
          <span>Polls to be answer</span>
        </h2>
        </div>
    </div>
    <ion-content scroll="true" id="sharedpolls-content" class=" scroll-content slide-in sharedpolls-content {{slide_class_content_sharedpolls}} {{toolbar_color}}">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="empty-list-label" ng-show="!polllist_shared.length">No Data</div>

        <div cardview class="poll-card card-item" ng-repeat="poll in polllist_shared" question="{{poll.questions[0].questionText}}" closingdate="{{poll.endDate}}" ng-click="openModal(poll)" eat-click-if="poll.answered" ng-class="poll.answered ? 'disabled' : ''">
            <div timer closingdate="{{poll.endDate}}">
            </div>
        </div>
    </ion-content>
    <div id="overlay-window" ng-include="'app/components/sharedPolls/sharedPollsAnswer.html'"></div>
</ion-view>
