<ion-view>
    <div class="poll-header toolbar slide-in {{toolbar_color}} {{slide_class_settings}}" id="header-toolbar-settings">
        <div class="toolbar-tools">
            <h2>
          <span>Settings</span>
        </h2>
        </div>
    </div>
    <ion-content scroll="true" id="settings-content" class=" scroll-content slide-in {{toolbar_color}} {{slide_class_content_settings}} settings-content" >
        <ion-list>
            <ion-item style="border-color: transparent;">
                <div class="switch">
                    <label>
                        logout
                        <input type="checkbox" ng-model="logout.checked"
                    ng-change="logout()">
                        <span class="lever"></span>
                    </label>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
