<!-- <ion-item>
    <div class="swift-card">
        <div class="swift-color-indicator swift-color-indicator-{{poll.status}}"></div>
        <div class="item item-text-wrap swift-question">
            {{poll.questions[0].questionText}}
        </div>
        
    </div>
    <ion-option-button class="button-assertive" ng-click="edit(item)">
            Edit
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="share(item)">
            Share
        </ion-option-button>
</ion-item> -->
    <div class="card swift-project-table-layout swift-card" ng-click="direct({poll:poll})">
        <div class="swift-color-indicator swift-color-indicator-{{poll.viewStatus}}"></div>
        <div class="item item-text-wrap swift-question swift-project-table-cell">
            {{poll.questions[0].questionText}}
        </div>
    </div>
   
