.btn-floating.btn-large {
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 70.5px !important;
        height: 70.5px !important;
        line-height: 80px !important;
    }
    z-index: 9;
}

.btn-floating.btn-small {
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 37px;
        height: 37px;
        line-height: 37px;
    }
    width: 28px;
    height: 28px;
    line-height: 28px !important;
    z-index: 9;
}

.btn-floating.btn-small i {
    font-size: 1rem;
    line-height: inherit;
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        font-size: 1.6rem;
        line-height: 37px ;
    }
}

.floating-button {
    position: absolute !important;
}


/**
** New Poll creating Page button
**/


/* add more answer btn */

.more-answers {
    position: relative;
    width: 100%;
    padding-right: 5px;
    .btn-floating {
        float: right;
        @media (min-device-width: 768px) and (max-device-width: 1024px) {
            margin-right: -13px;
        }
    }
}


/* button bar */

.button-bar {
    position: absolute;
    bottom: 0;
    .button {
        line-height: 48px;
        @media (min-device-width: 768px) and (max-device-width: 1024px) {
            height: 72px;
            line-height: 70px;
        }
    }
}
