        html,
        body,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        ol,
        dl,
        li,
        dt,
        dd,
        p,
        blockquote,
        pre,
        form,
        fieldset,
        table,
        th,
        td {
            margin: 0;
            padding: 0;
        }
        
        [nav-view-transition=ios][nav-view-direction=forward],
        [nav-view-transition=ios][nav-view-direction=back],
        {
            background-color: #FFFFFF !important;
        }
        
        .content-wrap {
            top: 44px;
            padding: 8px 16px;
            // @media (min-device-width: 768px) and (max-device-width: 1024px) {
            //     padding: 0 16px;
            // }
        }
        
        .scroll-content {
            margin-top: -2px;
        }
        
        .login-view {
            .scroll {
                height: 100%;
            }
        }
        
        @media (min-device-width: 768px) and (max-device-width: 1024px) {
            #newpolls-content {
                .scroll {
                    height: 100%;
                }
            }
            .answered-content {
                .scroll {
                    height: 100%;
                }
            }
        }
        /***** font size ******/
        
        body {
            @media (min-device-width: 768px) and (max-device-width: 1024px) {
                font-size: 16px;
            }
        }
        
        .tabbed-slidebox .tsb-icons .scroll a,
        .toolbar h2,
        .button-bar .button {
            font-size: $font-size-phone !important;
            text-transform: none;
            @media (min-device-width: 768px) and (max-device-width: 1024px) {
                font-size: $font-size-tab !important;
            }
        }
        /**  Add new poll button  **/
        
        .add-poll-btn {
            position: absolute !important;
            bottom: 16px;
            right: 16px;
        }
        
        .button-clear.button-clear {
            color: #FFFFFF;
        }
        /***** position absolute ****/
        
        .scroll-down-content {
            bottom: 100px;
            @media (min-device-width: 768px) and (max-device-width: 1024px) {
                bottom: 100px;
            }
        }
        
        // md-checkbox.md-checked .md-icon {
        //     background-color: $theme-color-blue;
        // }
        // md-switch.md-checked.md-primary .md-bar {
        //     background-color: rgba(27, 154, 247, 0.52);
        // }
        // md-switch.md-checked.md-primary .md-thumb {
        //     background-color: $theme-color-blue;
        // }
        // md-switch .md-label {
        //     padding: 0 $content-wrap;
        // }
        .overlay-content {
            position: relative;
            height: 65%;
            text-align: left;
            .scroll-content {
                top: 16px;
            }
        }
        
        #overlay-window,
        #newpoll-summary-overlay {
            display: none;
        }
        
        label {
            font-size: 1rem !important;
        }
        
        .small-model {
            max-height: 40% !important;
        }
        
        .answer {
            color: #2D6D30;
            font-size: large;
            font-weight: 500;
        }
        
        .alert-font {
            font-size: larger;
        }
        
        .popup-head {
            display: none;
        }
        
        .popup {
            background-color: #E2E2E2 !important;
        }
        
        #sharedpolls-content {
            .empty-list-label {
                color: white;
                text-align: center;
            }
        }
        
        .slider-wraper {
            padding: 8px;
            @media (min-device-width: 768px) and (max-device-width: 1024px) {
                padding: 16px;
            }
        }
        
        .item-avatar {
            padding-left: 30px !important;
        }
        
        .sharedpolls-content,
        .settings-content {
            //   margin-top:64px
        }
        
        .disabled {
            opacity: 0.7;
        }
        
        ////////////////////////////////
        .action-sheet-group {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            padding: 10px 5px 5px 5px;
            width: 100%;
            argin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            button {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                display: block;
                padding: 5px;
                width: 100%;
                float: left;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 0.75rem;
                border-color: transparent !important;
                .edit {
                    color: #2E54E3;
                }
                .archive {
                    color: #F27070;
                }
                .delete {
                    color: #C3362B;
                }
                .stat{
                        color: #005B8D;
                }
                div {
                    font-weight: 600;
                }
                img {
                    width: 40%;
                    max-width: 128px !important;
                }
            }
        }
        .last-card-item{
            margin-bottom: 138px;
        }
