/* home screen */


/***** define colors *****/

.answered,
.answered-content {
    @extend .green-light-bg;
}

.mypolls,
.mypolls-content {
    @extend .blue-light-bg;
}

.missed,
.missed-content {
    @extend .orange-light-bg;
}

.pendings,
.pendings-content {
    @extend .amber-light-bg;
}

// .answered-content{
//     @extend .green-light-bg;
// }
// .mypolls-content{
//     @extend .blue-light-bg;
// }
// .missed-content{
//     @extend .orange-light-bg;
// }
// .pendings-content{
//     @extend .amber-light-bg;
// }
.home-content {
    .scroll {
        padding-top: 8px;
        height: 100%;
    }
}

md-ink-bar {
    background-color: white;
    bottom: 5px !important;
    height: 2.5px;
    left: 40% !important;
    right: 38% !important;
}


/************ MYPOLLS ***************/

.question,
.summary {
    padding: 16px 0;
}

.question-stat {
    font-weight: 500;
    color: #604742;
}

.summary {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    div {
        display: inline-block;
        vertical-align: middle;
    }
    div.count {
        width: 70% !important;
        span {
            font-size: xx-large;
            color: #03A9F4;
            font-weight: bold;
        }
    }
    // div.response {
    //     width: 40% !important;
    // }
    div.closingdate {
        width: 25% !important;
        text-align: center;
    }
}

.circle {
    border-radius: 50%;
    width: 35px !important;
    height: 35px;
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 50px !important;
        height: 50px;
    }
    margin-right: 15px;
    /* width and height can be anything, as long as they're equal */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Spinning, gradient circle; CSS only! */

#advanced {
    // width: 200px;
    // height: 200px;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    animation-name: spin;
    animation-duration: 3s;
    /* 3 seconds */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.legend {
    a {
        border-color: transparent;
    }
    margin-top: 50px;
}


/********** user detail page **************/

.header {
    font-weight: bolder;
    color: #0880d7;
    border-bottom: 2px solid #1b9af7;
    padding-bottom: 30px;
    font-size: larger;
}

.user {
    padding: 15px !important;
}

.no_data {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}
