/* login screen */

.login-view {
background: #799e5a;
background: -moz-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #799e5a), color-stop(27%, #eda932), color-stop(39%, #eda932), color-stop(57%, #d6cd27), color-stop(70%, #d6cd27), color-stop(100%, #547511));
background: -webkit-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
background: -o-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
background: -ms-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
background: linear-gradient(to bottom, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#799e5a', endColorstr='#547511', GradientType=0 );
//     background: #f7a934;
// background: -moz-linear-gradient(top, #f7a934 0%, #f0cb6e 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, #f7a934), color-stop(100%, #f0cb6e));
// background: -webkit-linear-gradient(top, #f7a934 0%, #f0cb6e 100%);
// background: -o-linear-gradient(top, #f7a934 0%, #f0cb6e 100%);
// background: -ms-linear-gradient(top, #f7a934 0%, #f0cb6e 100%);
// background: linear-gradient(to bottom, #f7a934 0%, #f0cb6e 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a934', endColorstr='#f0cb6e', GradientType=0 );
// background: #799e5a;
// background: -moz-radial-gradient(center, ellipse cover, #799e5a 0%, #1f3b08 100%);
// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #799e5a), color-stop(100%, #1f3b08));
// background: -webkit-radial-gradient(center, ellipse cover, #799e5a 0%, #1f3b08 100%);
// background: -o-radial-gradient(center, ellipse cover, #n799e5a 0%, #1f3b08 100%);
// background: -ms-radial-gradient(center, ellipse cover, #799e5a 0%, #1f3b08 100%);
// background: radial-gradient(ellipse at center, #799e5a 0%, #1f3b08 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#799e5a', endColorstr='#1f3b08', GradientType=1 );

    // @extend .material-content;
    // background-image: url("../img/new-bg.jpg");
    // background-position: center;
    // background-size: cover;
    // height: 100%;

   .list{
            margin: 10% 0 !important;
        }
    .scout {
    font-size: 3em;
    color: #fff;
    width: 100%;
    padding-bottom: 1em;
    text-align: center;
    letter-spacing: 4pt;
    font-weight: 300;
    
}

.input-custom {
    margin: 0 10% 0 10%;
}

.username-border {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.password-border {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
    .loginform {
        
        
       input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=time],
        input[type=date],
        input[type=datetime-local],
        input[type=tel],
        input[type=number],
        input[type=search],
        textarea.materialize-textarea {
            border-bottom: 1px solid transparent !important;
            margin: 0 0 0 0 !important;
            height: 2rem;
        }
        input[type=text]:focus:not([readOnly]),
        input[type=password]:focus:not([readOnly]),
        input[type=email]:focus:not([readOnly]),
        input[type=url]:focus:not([readOnly]),
        input[type=time]:focus:not([readOnly]),
        input[type=date]:focus:not([readOnly]),
        input[type=datetime-local]:focus:not([readOnly]),
        input[type=tel]:focus:not([readOnly]),
        input[type=number]:focus:not([readOnly]),
        input[type=search]:focus:not([readOnly]),
        textarea.materialize-textarea {
            box-shadow: 0 1px 0 0 transparent !important;
        }
        label{
                margin-bottom: 10px;
        }
    }
}
