
// Colors

$login-background:                           #3B9FEB !default;
$login-card-background:                      #FFFF03 !default;
$font-color:								 #FFFFFF !default;
//$font-color:								#5D4037 !default;
$body-font-color:							#7D7D7D !default;
$login-btn-hover:     						#5fa0d2 !default;
$content-wrap:  							16px;
$card-background:  							#FFFFFF !default;


/********* theme colors **********/

$theme-color-blue: 							#2196F3 !default;
$theme-color-green: 						#4CAF50  !default;
$theme-color-orange: 						#FF5722 !default;
$theme-color-purple: 						#9C27B0 !default;
$theme-color-amber: 						#FFC107 !default;
$theme-color-purple: 						#9C27B0 !default;
$theme-color-yellow: 						#F0F71B !default;
$theme-color-gray: 							#C1C1C1 !default;
$theme-color-teal: 							#009688 !default;
$theme-color-lime: 							#CDDC39 !default;


$theme-color-lightblue: 							#90CAF9 !default;
$theme-color-lightgreen: 						#C5E1A5  !default;
$theme-color-lightorange: 						#FFAB91 !default;
$theme-color-lightamber: 						#FFCC80 !default;$theme-color-lightpurple: 						#E1BEE7 !default;
$theme-color-lightyellow: 						#FFF9C4 !default;
$theme-color-lightgray: 						#F5F5F5 !default;
$theme-color-lightteal: 						#B2DFDB !default;


/********* theme header colors **********/
$theme-header-color-blue: 							#1976D2 !default;
$theme-header-color-green:  						#388E3C !default;
$theme-header-color-orange:  						#E64A19 !default;
$theme-header-color-purple:  						#7B1FA2 !default;
$theme-header-color-amber:							#FFA000 !default;
$theme-header-color-teal:							#00796B !default;

$toolbar-height:  							100px;
$font-size-tab: 							18px;
$font-size-phone: 							14px;



